# Django / Python 
# ==================
backend/venv/
__pycache__/
*.phc

# DB
backend/db.sqlite3


# Node / React (Vite)
# ===================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Editor
.vscode/


# ENV
.env
